@page "/services"

@using DaveEvansTech.Components.SVGs

<section id="services" class="bg-gray-100 border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
        <h2 class="w-full my-2 text-3xl md:text-5xl font-black leading-tight text-center text-gray-800 mb-2">
            My Services
        </h2>
        <div class="w-full my-2 text-2xl md:text-3xl px-6 leading-tight text-center text-gray-600 mb-12">
            Affordable web, mobile, and OTT app development. <br />Get started today with a free virtual consultation.
        </div>

         <div id="pwa" class="md:mt-6">
            <Service IllustrationOnRight="@true">
                <Header>
                    SaaS Web Applications
                </Header>
                <Body>
                    <p class="mb-4">
                        Custom SaaS application development at a fraction of the cost. Software as a Service, also known as SaaS, stands for a cloud-based solution that can be used via mobile apps or browsers. The SaaS platform development is a software creation and launching model in which product is released via the subscription plan and is centrally hosted.
                    </p>
                    <p class="mb-4">
                        SaaS is an approach to accessing applications on the Internet. In contrast with the traditional model, the apps are placed in remote cloud storage via the web or an API. SaaS applications are also known as web-based software, on-demand software, or hosted software.
                    </p>
                       <p class="mb-4 flex flex-col">
                        <div><i class="fa fa-play text-primary mr-2"></i> Clean Architecture (for maintainability)</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Multi-tenant Architecture (ensures data is siloed)</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Authentication &amp; Authorization</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Microsoft's .NET Stack</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Microsoft's Azure Cloud Serivces</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Custom API</div>
                    </p>
                    <p class="my-4">
                        Examples of SaaS Applications: Monday.com, Canva, Slack, DocuSign, Salesforce, Squibler, G Suite, HubSpot
                    </p>
                    <br />
                    <p class="mb-4">
                        Contact me today and launch your own SaaS Web Application in 2023!.
                    </p>
                </Body>
                <SVGCode>
                    <PWADevSVG />
                </SVGCode>
            </Service>
        </div>



        <div id="ott" class="md:mt-6">
            <Service IllustrationOnRight="@false">
                <Header>
                    OTT Channels (Roku, Fire TV, Android TV, etc.)
                </Header>
                <Body>
                    <p class="mb-4">
                        If you have a video streaming business, you can quickly increase your audience and revenue 20% - 30% with OTT apps.
                    </p>
                    <p class="mb-4">
                        OTT (Over-the-Top) apps are apps that deliver video content over the internet instead of cable or satellite. They allow your customers to stream videos to mobile apps (iPhone and Android) and TVs using OTT streaming platforms like Roku, Fire TV, Android TV, and Apple TV. Choose from a variety of monetization options like ads supported video on demand (AVOD), subscription video on demand (SVOD), and transactional video on demand (TVOD), also known as pay-per-view.
                    </p>
                    <p class="mb-4 flex flex-col">
                        <div><i class="fa fa-play text-primary mr-2"></i> Drive sales &amp; subscriptions</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Build co-promotions marketing</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Expand visibility &amp; awareness</div>
                        <div><i class="fa fa-play text-primary mr-2"></i> Brand endorsements/partnerships</div>
                    </p>
                    <br />
                    <p class="mb-4">
                        Contact me today and launch your own OTT platform in 2023!.
                    </p>
                </Body>
                <SVGCode>
                    <OTTDevSVG />
                </SVGCode>
            </Service>
        </div>




        @*<div id="spa" class="md:mt-6">
            <Service IllustrationOnRight="@true">
                <Header>
                    Single Page Application (SPA)
                </Header>
                <Body>
                    <p class="mb-4">
                        SPAs are web applications that run inside a web browser without requiring page reloads. This makes them feel more like native apps than websites because the web page rendering is so much faster! This results in a stunning user experience for your visitors.
                    </p>
                    <p class="mb-4">
                        My choice for building SPAs is Microsoft’s framework called Blazor. Blazor is unique because it runs something other than JavaScript (C#) in the web browser.
                    </p>
                    <p>
                        Some Single Page Application examples are Gmail, Google Maps, AirBNB, Netflix, Pinterest, Paypal, and many more are using SPAs to build a fluid, scalable experience.
                    </p>
                </Body>
                <SVGCode>
                    <WebDeveloperSVG />
                </SVGCode>
            </Service>
        </div>*@




        <div id="mobile" class="md:mt-6">
            <Service IllustrationOnRight="@true">
                <Header>
                    Mobile Apps (Android/iPhone)
                </Header>
                <Body>
                    <p class="mb-4">
                        My goal is to build Android/iPhone apps that give your app users the best experience possible. I'll utilize the lastest UX (user experience) theory to make sure your app users love your app.
                    </p>
                    <p class="mb-4">
                        And I'll leverage “cross-platform” capabilities, which saves me development time and therefore saves you money.
                        This means I build one app for <span class="italic">both</span> Android and iPhone instead of costly and time-consuming custom native app development for both platforms.
                    </p>
                    <p>
                        Mobile apps offer many benefits for your business or organization. For one thing, they provide more value to your customers.
                        One way to do this is to start a loyalty program through your app. Mobile apps also help you strenghten your brand.
                        They help you connect better with your customers.
                        And perhaps most importantly, they help boost profits!
                    </p>
                </Body>
                <SVGCode>
                    <MobileDevSVG />
                </SVGCode>
            </Service>
        </div>

        <div id="wordpress" class="md:mt-6">
            <Service IllustrationOnRight="@false">
                <Header>
                    WordPress Development
                </Header>
                <Body>
                    <p class="mb-4">
                        An estimated 35% of the gazillion websites on the web were built using WordPress (what is 35% of a gazillion?). WordPress is used to build virtually any type of website &mdash; eCommerce, blogs, promotional, content management system, religious, online communities, niche affiliate websites, online courses and many more.
                    </p>
                    <p class="mb-4">
                        Hiring a web design agency can cost anywhere from $5,000 to $50,000, depending on the features you require.
                        This is fine for big companies with fat bank accounts.
                        But for smaller companies, organizations, and individuals that are working with a tight budget, WordPress development might be the better choice.
                    </p>
                    <p>
                        Contact me today and tell me about the website you want. I'll be glad to help you decide if WordPress is the right choice for you.
                    </p>
                </Body>
                <SVGCode>
                    <WordPressDevSVG />
                </SVGCode>
            </Service>
        </div>


    </div>
</section>


@code {


}